body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('images/danceFloor.jpg');
  background-repeat: no-repeat;
  background-size: 100% 800px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.container {
  height: 700px;
}

.floor{
  width: auto;
  height: auto;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.linkDancer, .zeldaDancer {
  display: block;
  position:absolute;
  width: 70px;
  height: 70px;
  animation-name:spin;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

}
@keyframes spin{
  0%{
    transform:rotate(5deg);
  }
  50%{
    transform:rotate(100deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}